* {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

body {
	font: 16px/1.5 system-ui, sans-serif;
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, p {
	margin: 1rem;
}

input {
	border: 0.0625rem solid ButtonBorder; /* 0.0625rem = 1px */
	border-radius: 0.25rem;
	font: inherit;
	margin: 0.25rem 1rem;
	padding: 0.25rem;
}

input:focus {
	border-color: AccentColor;
	outline: 0;
}

input[type="submit"] {
	background: ButtonFace;
	color: ButtonText;
	cursor: pointer;
}

input[type="submit"]:hover {
	filter: brightness(1.25); /* https://stackoverflow.com/a/3280990 */
}
