* {
	box-sizing: border-box;
}

:focus {
	border-color: AccentColor;
	outline: none;
}

:root {
	color-scheme: light dark;
}

body {
	font: 16px/1.5 system-ui, sans-serif;
	margin: 0.5rem;
}

dialog {
	border: 1px solid ButtonBorder;
	border-radius: 0.25rem;
	box-shadow: 0.25rem 0.25rem 0.5rem #00000066;
	position: fixed;
	top: auto;
	right: 1rem;
	bottom: 1rem;
	left: 1rem;
	width: auto;
}

form {
	border: 0;
	display: grid;
	gap: 0.5rem;
	padding: 0;
}

input, textarea {
	border: 1px solid ButtonBorder;
	border-radius: 0.25rem;
	font: inherit;
	padding: 0.25rem;
}

legend {
	padding: 0.5rem 0;
}
